<h1>Welcome to Add new Question</h1>
<form ng-submit="onSubmit()"
     name="newQuestionForm">

    <div class="form-group">
        <label>Question_Text</label>
        <input type="text" name="question_text" class="form-control" ng-model="newQuestionForm.q" placeholder="Question Text" required>
    </div>

    <div class="form-group">
        <label>Date_Published</label>
        <input type="text" name="pub_date" class="form-control" ng-model="newQuestionForm.d" placeholder="Date_Published, YYYY, MM,DD" required>
    </div>

    <button type="submit" class="btn-primary">Submit</button>
    </form>




