<h1>Welcome to Add new Question</h1>
<div>
    <div class="span3">
                Question_Text:
                <br />
                <input data-ng-model="question.question_text" type="text" placeholder="Question Text">
            </div>

    <div class="span3">
                Date Published:
                <br />
                <input data-ng-model="question.pub_date" type="text" placeholder="Date Published">
            </div>
        <div class="span3">
                Choices:
                <br />
                Choice 1: <input data-ng-model="choice" type="text" placeholder="Choice">
                <p>Choice 2<input data-ng-model="choice" type="text" placeholder="Choice"></p>
            </div>

    <button id="submitQuestion" class="btn btn-primary" type="button"
                   data-ng-click="newQuestion()">Add Question</button>
