<h1>Welcome to Login Page</h1>
<div>
    <div class="span3">
                Username:
                <br />
                <input data-ng-model="question.question_text" type="text" placeholder="Question Text">
            </div>

    <div class="span3">
                Password:
                <br />
                <input data-ng-model="question.pub_date" type="text" placeholder="Date Published">
            </div>

    <button id="submitCustomer" class="btn btn-primary" type="button"
                   data-ng-click="login()">Login</button>
</div>