<div>
    <ul class="questions">
        </h4><span><h4>Question {{$scope.clickedID = detail.id}}:  {{detail.question_text}}</h4></span>


    </ul>

</div>

<div class="questions" ng-controller="ChoiceListCtrl">
        <li ng-repeat="ans_choice in ans_choices  | filter:{'question': detail.id}:true">

            <label>{{person.name}}
                <p>{{ans_choice.choice_text}}: <i><a href = #/questions/{{detail.id}}?target={{ans_choice.choice_text}} ng-click="voteSubmit()">
                        Click here to vote</a></i>: votes = {{ans_choice.votes}}:  </p>
            </label>"
        </li>
  </div>








